* text=auto
*.sh text eol=lf
*.bash text eol=lf
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.c text eol=lf
*.h text eol=lf
*.java text eol=lf
*.go text eol=lf
*.rs text eol=lf
*.rb text eol=lf
*.pl text eol=lf
*.php text eol=lf
*.swift text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.jsx text eol=lf
*.vue text eol=lf
*.tsx text eol=lf
*.less text eol=lf
*.sass text eol=lf
*.scss text eol=lf
*.conf text eol=lf
*.ini text eol=lf
*.cfg text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.env text eol=lf
*.gitignore text eol=lf
*.editorconfig text eol=lf
*.dockerignore text eol=lf
*.gitattributes text eol=lf
*.travis.yml text eol=lf
*.circleci/config.yml text eol=lf
*.github/workflows/*.yml text eol=lf
*.github/dependabot.yml text eol=lf
*.github/pull_request_template.md text eol=lf
*.github/ISSUE_TEMPLATE.md text eol=lf
*.github/CONTRIBUTING.md text eol=lf
*.github/README.md text eol=lf
*.github/LICENSE text eol=lf
*.github/SECURITY.md text eol=lf
*.github/CHANGELOG.md text eol=lf
*.github/RELEASE.md text eol=lf
*.github/ROADMAP.md text eol=lf
*.github/FEATURES.md text eol=lf
*.github/FAQ.md text eol=lf
*.github/CONTRIBUTORS.md text eol=lf
*.github/MAINTAINERS.md text eol=lf
*.github/ACKNOWLEDGEMENTS.md text eol=lf
*.github/THANKS.md text eol=lf
*.github/SPONSORS.md text eol=lf
*.github/SPONSORS.md text eol=lf
*.github/SPONSORS.md text eol=lf
*.github/SPONSORS.md text eol=lf
*.github/SPONSORS.md text eol=lf
*.github/SPONSORS.md text eol=lf
*.github/SPONSORS.md text eol=lf
*.github/SPONSORS.md text eol=l   